.header {
  font-family: garamond;
  font-size: 32px;
  line-height: 150%;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.header-repo {
  color: #0074D9;
}

.header-search {
  color: #7FDBFF;
}

.search-button {
  margin-bottom: 30px;
}

.repo-name {
  color: #093145;
}
