.header {
  font-family: garamond;
  font-size: 36px;
  line-height: 150%;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.header-repo {
  color: #0074D9;
}

.header-search {
  color: #7FDBFF;
}

.button-row-margin {
  margin-top: 10px;
  margin-bottom: 40px;
}

.search-button {
  border-radius: 25px;
  color: green;
  font-weight: bold;
}

.repo-name {
  color: #093145;
}

.link-line {
  color: #3C6478;
}

.commit-message {
  color: #107896;
}

.author-name {
  font-weight: bold;
}

.commit-date {
  font-style: italic;
}

.prompt {
  color: green;
  font-weight: bold;
}
